* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

header {
  background-color: #F8F9FA;
  font-size: 3rem;
  font-weight: bold;
  padding: 20px;
}

main {
  padding: 40px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;

  li {
    margin: 10px;

    button {
      background-color: #0D6EFD;
      color: white;
      border: none;
      padding: 15px 20px;
      border-radius: 10px;
      font-size: 1.1rem
    }
  }
}

.active {
  background-color: #FFC107;
}